.btn-default {
  & { .button-variant(@gray-darker; @gray-darker; @gray-darker); }
  
  &.outlined {
    .button-variant(@gray-darker; @gray-darker; @gray-darker; true);
    &.light { .button-variant(@gray-light; @gray-light; @gray-light; true); }
    &.active, &.light.active {
      background-color: @btn-primary-bg;
      border-color: @btn-primary-bg;
      color: @btn-primary-color;
    }
  }
  
  &.primary { .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-bg); }
  // &.override, &.btn-override { .button-variant(@gray-dark; @gray-dark; @gray-dark; true); }
}

.ab {

  .btn {
    &,
    &:hover,
    &:focus {
      .transition(~"color 0.15s, background-color 0.15s");
    }
    
    span {
      text-transform: capitalize;
    }
  }

  .btn-vlg {
    .button-size(@padding-verylarge-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-small; @padding-verylarge-vertical; @padding-large-horizontal; (@padding-verylarge-vertical - 4); @padding-large-horizontal);
  }

  .btn-lg {
    // line-height: ensure even-numbered height of button next to large input
    .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-small; @padding-large-vertical; @padding-large-horizontal; (@padding-large-vertical - 4); @padding-large-horizontal);
  }
  
  .btn-sm,
  .btn-xs {
    // line-height: ensure proper height of button next to small input
    .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
  }
  
  .btn-xs {
    padding: 1px 5px;
  }

}