
form {
  
  // General
  &.actionable {
    padding-bottom: 100px;
  }
  
  .form-group {
    margin-bottom: @line-height-computed;
    
    > div { position: relative; }
    
    &.last {
      margin-bottom: 0px;
    }
    
    &.has-error {
      border: none;
      box-shadow: none;
    }
    
    .group-label {
      display: block;
      padding-left: 5px;
    }
    
    &.select {
      .group-label {
        margin-bottom: 3px;
      }
    }
  }
  
  // Select
  select:hover { cursor: pointer; }
  
  // Buttons
  button.pull-right { margin-left: 10px; }
  button.pull-left { margin-right: 10px; }
  
  // Action Response
  .alert-danger {
    background-color: transparent;
    margin-bottom: 30px;
    
    ul {
      list-style: none;
      padding: 0;
      
      li {
        margin-bottom: 15px;
        i {
          margin-right: 5px;
        }
      }
    }
  }
  
  // Action Items 
  .actionbar-bottom {
    background-color: fade(#fff, 90%);
    border-top: 1px solid @gray-light;
    min-height: 0;
    padding: 0;
    
    button, .button-group {
      margin: 20px auto;
    }
    
    button.pull-right {
      margin-right: 40px;
      & + button { margin-right: 20px; }
    }
  }
  
  .actionlist-item {
    .text { margin-top: 10px; }
  }
  
  .action-headline {
    .buttons { padding: 6px 0 0 10px; }
  }
  
  // Radios
  .radio-group {
    overflow: hidden;
    padding-left: 5px;
    
    .group-label {
      padding-left: 0px;
    }
    
    .radio-inline {
      margin: 1px 0 0 0;
      &.col-xs-12 {
        margin-top: 10px;
      }
    }
  }
  
  // Picture Upload
  #dropzone {
    border: 2px dashed @gray-light;
    border-radius: 25px;
    height: 200px;
    margin: 0 0 20px 0;
    text-align: center;
    width: 100%;
    
    .dropit {
      .vertical-center;
      color: @gray-light;
      
      .fa-stack {
        margin-right: 10px;
      }
    }
  }
  
  #avatar-upload {
    p {
      text-align: center;
    }
    
    #preview {
      margin: 0 auto;
      position: relative;
      width: 230px;
      
      a {
        .transition(~"background-color 0.3s, opacity 0.3s");
        background-color: fade(@gray-dark, 0%);
        display: block;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        text-align: center;
        text-decoration: none;
        right: 0;
        
        &:hover {
          background-color: fade(@gray-dark, 90%);
          opacity: 1;
        }
        
        span.btn {
          .vertical-center;
          border-color: #fff;
          color: #fff;
        }
      }
      
      img { width: 100%; }
    }
    
    .upload-button-wrapper {
      position: relative;
      
      button {
        display: block;
        margin: 0 auto;
        
        .upload-label {
          i.fa {
            margin-right: 10px;
          }
        }
      }
      
      input {
        &.upload {
          cursor: pointer;
          font-size: 20px;
          height: 0;
          margin: 0;
          padding: 0;
          right: 0;
          top: 0;
          width: 0;
          
          opacity: 0;
          filter: alpha(opacity=0);
          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        }
      }
    }
  }
  
  // Fonts & Colors
  h3 {
    color: @brand-primary;
    text-transform: uppercase;
    
    &.sub {
      color: @gray-mid;
      text-transform: none;
    }
  }
  
  label {
    font-weight: normal;
  }
  
  .row {
    margin-bottom: 40px;
  }
  
  .form-control {
    box-shadow: none !important;
  }
}

// FloatLabel.js
span.error.floatlabel {
  .transition(all .3s ease-in-out);
  display: none;
  opacity: 0;
  position: relative;
  top: 30px;
  z-index: 1;
  
  .has-error & {
    color: @state-danger-text !important;
    display: block;
    opacity: 1;
    top: 15px;
  }
  
  i { margin-right: 5px; }
}

span.error.floatlabel,
label.label-floatlabel,
.group-label {
  color: @gray-mid !important;
  font-size: @font-size-floatlabels !important;
  font-weight: normal !important;
  left: 5px !important;
  text-transform: uppercase;
}

label.label-floatlabel {
  .has-error & {
    display: none !important;
    opacity: 0 !important;
    top: 20px !important;
  }
}

input.form-control.floatlabel {
  height: 38px;
  padding: 20px 0 5px 5px !important;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid @input-border;
  box-shadow: none;
  
  &:focus {
    border-bottom: 1px solid @gray-darker;
  }

  .has-error & {
    color: @state-danger-text;
    border-color: @state-danger-text;
    
    &:focus { box-shadow: none; }
  }
}

// Dashboard Specifics
#dashboard {
  form {
    .row {
      margin-bottom: 0;
    }
    
    h3 {
      margin: 20px 0 20px 0;
    }
  }
}
