
.ab {
  form {
    .form-group {
      margin-bottom: @line-height-computed;
    }
    
    label {
      font-weight: normal;
    }
    
    .row {
      margin-bottom: 40px;
    }
    
    .form-control {
      box-shadow: none;
    }
  }
}