html {
  background-color: @gray-darker;
  
  *[data-ember-action] { cursor: pointer; }
  
  &, body,
  body > .ember-view {
    height: auto;
    min-height: 100%;
    position: absolute;
    width: 100%;
  }
  
  body {
    //.img-retina("../../../img/general/black_denim.png"; "../../../img/general/black_denim@2x.png"; 200; 200);
    
    .header {
      height: 95px;
      margin-bottom: 70px;
      
      @media (max-width: @screen-xs-max) {
        height: 50px;
        margin-bottom: 20px;
      }
    }
    
    > .container {
      height: 100%;
      position: relative;
    }
    
    #content {
      background-color: #fff;
      height: auto;
      left: 0px;
      min-height: 100%;
      padding: 200px 0 0;
      
      @media (max-width: @grid-float-breakpoint-max) {
        padding-top: 70px;      
      }
    }
    
    .row.line {
      span {
        background-color: @gray-lighter;
        display: block;
        height: 1px;
        width: 100%;
      }
    }
  }
}

.icon-spin {
  margin: 0 10px 0 0;
  opacity: 1;
}

noscript {
  .opacity(0.95);
  
  background-color: @gray-darker;
  color: @gray-lighter;
  display: table;
  font-size: 2em;
  height: 100%;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 9999;

  p {
    .opacity(1);
    display: table-cell;
    vertical-align: middle;
  }
}

/*label { display: none; }*/

/* OLDIE HANDLING */

.oldie {
  label { display: inline-block; }
}

/* ICONS */

.fa-stack .fa-circle-custom {
  border: 3px solid;
  border-radius: 100px;
}

