
@gray-darker:                 #202020;
@gray-light:                  #d2d2d2;
@brand-primary:               #2f528c;
@green-athletes:              #418a43;
@blue-organizers:             #2f528c;
@font-family-sans-serif:      "NiveauGroteskRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:           'MuseoSlab-500', Georgia, "Times New Roman", Times, serif;
@padding-verylarge-vertical:   18px;
@input-bg:                     @gray-darker;
@input-color:                  @gray-lighter;
@input-border-radius:          @border-radius-small;
@input-border-focus:           #000;
@navbar-height-desktop:        95px;
@navbar-emblem-width-lg:       340px;
@navbar-emblem-width-sm:       250px;
@navbar-inverse-bg:            @gray-darker;
@navbar-inverse-border:        none;